


/* STYLE DASHBOARD */

body, html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbarslogan {
  background-color: #FF3131;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.slogan {
  color: white; 
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}
.logo {
  width: 200px;
  height: auto;
}
.nav {
  display: flex;
  flex: 1;
  justify-content: center;
  list-style: none; 
  padding: 0;
  margin: 0;
}
.nav-item {
  margin: 0 10px;
}
.nav-link {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.nav-link:hover {
  color: #FF3131;
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar-brand {
  margin-right: 20px; 
}
.form-inline {
  display: flex;
  align-items: center;
}
.form-control {
  margin-right: 10px;
  color: #000;
  border-color: #FF3131;
}
.btn-outline-success {
  color: #FF3131;
  border-color: #FF3131;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #FF3131;
}

.baner {
  width: 100%;
  height: auto;
}

h2 , h3{
  padding: 15px;
  font-weight: 500;
  font-style: bold;
}
.rounded-circle {
  width: 200px;
  height: 200px;
}
.image-circle{
  display: flex;
  justify-content: center;
  gap: 60px; 
  padding: 20px; 
}
.image-contanier {
  text-align: center;
  flex: 1; 
}
.image-title {
  margin-top: 10px;
  color: #333;
  font-size: 16px;
}
.see-all {
  color: #787878;
  text-align: right;
  padding: 15px;
}
footer {
  background-color: #FF3131;
  color: #fff;
}
.footer-text {
  padding: 10px;
  font-size: small;
}
.footer-title {
  padding-top: 10px;
}
.copy {
  text-align: center;
}
